# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp